<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Information about your Trip</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Hello! {{the_user.name}} Read about this trip!</h3>
      </div>
      <div class="col">
        <a href="/dashboard">Dashboard</a>
        <a href="/clean_session">Logout</a>
      </div>
    </div>
    <br><br>
    <div class="row">
      <p>{{chosen_trip.destination}}</p>
    </div>
    <div class="row">
        <ul class="list-unstyled">
            <li>Start Date: {{chosen_trip.start_date | date:"m/d/Y"}} </li>
            <li>End Date: {{chosen_trip.end_date | date:"m/d/Y"}}</li>
            <li>Created On: {{chosen_trip.created_at | date:"m/d/Y"}}</li>
            <li>Last Updated: {{chosen_trip.updated_at | date:"m/d/Y"}}</li>
            <li>Plan: {{chosen_trip.plan}} </li>
            <li>Created By: {{chosen_trip.user.name}}</li>
          </ul>
    </div>
  </div>
</body>
</html>